@import './modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body{
  text-align: center;
  background-color: #111827;
  color: #94a3b8;
  font-family: 'Roboto', sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}

a{
  text-decoration: none;
  color: #f1f5f9;
}
a:visited{
  color: #f1f5f9;
}



a:hover{
  text-decoration: underline;
}


.navbar{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}



.center, .footer{
  display: grid;
  place-items: center;
  
}

.title{
  font-size: x-large;
}

.projects{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.articles{
  margin-bottom: 1rem;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
}

.socials{
  display: flex;
  gap: 3rem;
}

.social__icon{
  height: 24px;
  width: 24px;
}

.hiden_small{
  display: none;
}


/* xs */
@media (min-width: 475px){
  body{
    padding-left: 10%;
    padding-right: 10%;
  }

  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}


/* md */
@media (min-width: 768px){
  body{
    padding-left: 15%;
    padding-right: 15%;
  }

  .projects{
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 3rem;
  }
  .hiden_small{
    display: inline-block;
  }
}


/* xl */
@media (min-width: 1260px){
  body{
    padding-left: 20%;
    padding-right: 30%;
  }

  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}
